:root {
    --primary-color-tiffanyBlue: #3AB8B7;
    --primary-color-white: #FFFFFF;
    --primary-color-black: #000000;
    --secondary-color-yellow: #EFC929;
    --secondary-color-gray: #CCCCCC;
    --secondary-color-navy: #0A015b;
}