tr {
    background-color: var(--primary-color-white);
    color: var(--primary-color-black);
    display: flex;
}

td {
    border: 1px solid var(--primary-color-black);
    padding: 8px 0;
    text-align: center;
    width: 40%;
}

td div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jua", sans-serif !important;
}

.order {
    padding-top: 3px;
}

.reservationDt {
    padding-top: 3px;
}

.checker {
    padding-top: 3px;
}