@import "../color.css";

.reservationHeader-header {
    width: 100%;
    height: 100px;
    display: flex;
}

.reservationHeader-footer {
    width: 100%;
    height: 30%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.title-reservation {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--primary-color-white);
    box-sizing: border-box;
    border-right: 1px;
    font-size: 30px;
    color: var(--primary-color-white);
    padding-top: 13px;
}

.title-reservation:hover {
    background-color: var(--secondary-color-yellow);
}

.title-cancelReservation {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--primary-color-white);
    box-sizing: border-box;
    font-size: 30px;
    color: var(--primary-color-white);
    padding-top: 13px;
}

.title-cancelReservation:hover {
    background-color: var(--secondary-color-yellow);
}