/*div {*/
/*    line-height: 2rem;*/
/*}*/

label {
    line-height: 2rem;
    padding: 0.2em 0.4em;
}

span {
    vertical-align: middle;
}

[type="radio"] {
    vertical-align: middle;
}

.reservation {
    width: 100%;
    height: 100%;
    background-color: #3ab8b7;
}

.body {
    vertical-align: center;
}