.table-container {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 1100px;
    position: fixed;
    left: 250px;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--primary-color-black);
    white-space: nowrap;
    width: 1100px;
}

tr {
    display: flex;
}

th {
    border: 1px solid var(--primary-color-black);
    padding: 8px;
    text-align: center;
    background-color: var(--secondary-color-yellow);
    color: var(--primary-color-black);
    width: 40%;
    font-family: "Jua", sans-serif !important;
}

th div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jua", sans-serif !important;
}

.applicant {
    padding-top: 3px;
}

.edit {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 870px) {
    .table-container {
        left: 30px !important;
    }
}

@media screen and (max-width: 870px) {
    th:nth-last-child(2),
    th:last-child,
    td:nth-last-child(2),
    td:last-child {
        display: none;
    }
}